#!/usr/bin/make -f
%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- --buildtype=release

override_dh_shlibdeps:
	# Exclui a dependência exata qt6-websockets-abi (não é um pacote real)
	dh_shlibdeps -- -xqt6-websockets-abi